.card{
  border: solid 1px rgb(7, 0, 41);
  border-radius: 10px;
  background-color: rgb(4, 0, 255);
  color: white;
  margin: 20px 10px 20px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}